<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(TVTrackWeb.Components.Layout.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(TVTrackWeb.Components.Layout.MainLayout)">
            <p>Lo sentimos, la página no fue encontrada.</p>
        </LayoutView>
    </NotFound>
</Router>
